# 游끤 Exploratory Data Analysis - Olympic Games Data

## Projekt_OS - Olympic Games Data Analysis

Detta notebook inneh친ller en grundlig utforskning av olympisk data fr친n Kaggle-datasetet "120 years of Olympic history: athletes and results".

### Dataset Information
- **K칛lla**: [120 years of Olympic history: athletes and results](https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results)
- **Fil**: `athlete_events.csv`
- **Storlek**: ~200MB, 271,116 rader, 15 kolumner
- **Tidsperiod**: 1896-2016
- **Fokus**: Kanada (CAN)

### Inneh친ll
1. Data Loading och 칐versikt
2. Grundl칛ggande Statistik
3. Visualiseringar
4. Kanada-specifik Analys

## 1. Imports och Data Loading

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# S칛tt stil f칬r visualiseringar
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

# Ladda data
data_path = os.path.join('..', 'data', 'athlete_events.csv')
df = pd.read_csv(data_path)
# Ensure figures directory exists to avoid FileNotFoundError when saving plots
figures_dir = os.path.join('..', 'figures')
os.makedirs(figures_dir, exist_ok=True)

print(f"Dataset shape: {df.shape}")
print(f"\nKolumner: {df.columns.tolist()}")
print(f"\nF칬rsta raderna:")
df.head()

Dataset shape: (271116, 15)

Kolumner: ['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']

F칬rsta raderna:

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## 2. Grundl칛ggande Statistik

### 2.1 Dataset 칐versikt

In [73]:
print("Dataset 칐versikt:\n")

print("F칬rsta 5 rader:")
print(df.head())

print("\nKolumner:")
print(df.columns.tolist())

print("\nInfo om data:")
print(df.info())

print("\nSaknade v칛rden per kolumn:")
print(df.isna().sum())

Dataset 칐versikt:

F칬rsta 5 rader:
   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

Kolumner:
['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']

Info om data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

Saknade v칛rden per kolumn:
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

### 2.2 L칛nder (NOC)

In [74]:
unique_countries = df["NOC"].unique()
number_of_countries = len(unique_countries)

print("Antal l칛nder medverkande:")
print(number_of_countries)

print("\nNamn p친 medverkande l칛nder (NOC):")
print(np.sort(unique_countries))

Antal l칛nder medverkande:
230

Namn p친 medverkande l칛nder (NOC):
['AFG' 'AHO' 'ALB' 'ALG' 'AND' 'ANG' 'ANT' 'ANZ' 'ARG' 'ARM' 'ARU' 'ASA'
 'AUS' 'AUT' 'AZE' 'BAH' 'BAN' 'BAR' 'BDI' 'BEL' 'BEN' 'BER' 'BHU' 'BIH'
 'BIZ' 'BLR' 'BOH' 'BOL' 'BOT' 'BRA' 'BRN' 'BRU' 'BUL' 'BUR' 'CAF' 'CAM'
 'CAN' 'CAY' 'CGO' 'CHA' 'CHI' 'CHN' 'CIV' 'CMR' 'COD' 'COK' 'COL' 'COM'
 'CPV' 'CRC' 'CRO' 'CRT' 'CUB' 'CYP' 'CZE' 'DEN' 'DJI' 'DMA' 'DOM' 'ECU'
 'EGY' 'ERI' 'ESA' 'ESP' 'EST' 'ETH' 'EUN' 'FIJ' 'FIN' 'FRA' 'FRG' 'FSM'
 'GAB' 'GAM' 'GBR' 'GBS' 'GDR' 'GEO' 'GEQ' 'GER' 'GHA' 'GRE' 'GRN' 'GUA'
 'GUI' 'GUM' 'GUY' 'HAI' 'HKG' 'HON' 'HUN' 'INA' 'IND' 'IOA' 'IRI' 'IRL'
 'IRQ' 'ISL' 'ISR' 'ISV' 'ITA' 'IVB' 'JAM' 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ'
 'KIR' 'KOR' 'KOS' 'KSA' 'KUW' 'LAO' 'LAT' 'LBA' 'LBR' 'LCA' 'LES' 'LIB'
 'LIE' 'LTU' 'LUX' 'MAD' 'MAL' 'MAR' 'MAS' 'MAW' 'MDA' 'MDV' 'MEX' 'MGL'
 'MHL' 'MKD' 'MLI' 'MLT' 'MNE' 'MON' 'MOZ' 'MRI' 'MTN' 'MYA' 'NAM' 'NBO'
 'NCA' 'NED' 'NEP' 'NFL' 'NGR' 'NIG' 'NOR' 'NRU' 'NZL' 'OMA' 'PAK' 'PAN'
 'PAR' 'PER' 'PHI' 'PLE' 'PLW' 'PNG' 'POL' 'POR' 'PRK' 'PUR' 'QAT' 'RHO'
 'ROT' 'ROU' 'RSA' 'RUS' 'RWA' 'SAA' 'SAM' 'SCG' 'SEN' 'SEY' 'SGP' 'SKN'
 'SLE' 'SLO' 'SMR' 'SOL' 'SOM' 'SRB' 'SRI' 'SSD' 'STP' 'SUD' 'SUI' 'SUR'
 'SVK' 'SWE' 'SWZ' 'SYR' 'TAN' 'TCH' 'TGA' 'THA' 'TJK' 'TKM' 'TLS' 'TOG'
 'TPE' 'TTO' 'TUN' 'TUR' 'TUV' 'UAE' 'UAR' 'UGA' 'UKR' 'UNK' 'URS' 'URU'
 'USA' 'UZB' 'VAN' 'VEN' 'VIE' 'VIN' 'VNM' 'WIF' 'YAR' 'YEM' 'YMD' 'YUG'
 'ZAM' 'ZIM']

### 2.3 Sporter

In [75]:
unique_sports = df["Sport"].unique()
number_of_sports = len(unique_sports)

print("\nAntal sporter:")
print(number_of_sports)

print("\nNamn p친 medverkande sporter:")
print(np.sort(unique_sports))

Antal sporter:
66

Namn p친 medverkande sporter:
['Aeronautics' 'Alpine Skiing' 'Alpinism' 'Archery' 'Art Competitions'
 'Athletics' 'Badminton' 'Baseball' 'Basketball' 'Basque Pelota'
 'Beach Volleyball' 'Biathlon' 'Bobsleigh' 'Boxing' 'Canoeing' 'Cricket'
 'Croquet' 'Cross Country Skiing' 'Curling' 'Cycling' 'Diving'
 'Equestrianism' 'Fencing' 'Figure Skating' 'Football' 'Freestyle Skiing'
 'Golf' 'Gymnastics' 'Handball' 'Hockey' 'Ice Hockey' 'Jeu De Paume'
 'Judo' 'Lacrosse' 'Luge' 'Military Ski Patrol' 'Modern Pentathlon'
 'Motorboating' 'Nordic Combined' 'Polo' 'Racquets' 'Rhythmic Gymnastics'
 'Roque' 'Rowing' 'Rugby' 'Rugby Sevens' 'Sailing' 'Shooting'
 'Short Track Speed Skating' 'Skeleton' 'Ski Jumping' 'Snowboarding'
 'Softball' 'Speed Skating' 'Swimming' 'Synchronized Swimming'
 'Table Tennis' 'Taekwondo' 'Tennis' 'Trampolining' 'Triathlon'
 'Tug-Of-War' 'Volleyball' 'Water Polo' 'Weightlifting' 'Wrestling']

### 2.4 Medaljtyper

In [76]:
medal_types = df["Medal"].dropna().unique()

print("Medaljtyper:")
print(medal_types)

Medaljtyper:
['Gold' 'Bronze' 'Silver']

### 2.5 칀ldersstatistik

In [77]:
age_df = df["Age"].dropna()
age_stats = {"mean": age_df.mean(),
             "median": age_df.median(),
             "min": age_df.min(),
             "max": age_df.max(),
             "std": age_df.std()
            }
for key, value in age_stats.items():
    print(f"{key}: {value:.1f}")

mean: 25.6
median: 24.0
min: 10.0
max: 97.0
std: 6.4

## 3. Visualiseringar - 칐versikt

### 3.1 K칬nsf칬rdelning

### 3.2 Top 10 L칛nder - Medaljer

### 3.3 Medaljer 칬ver tid

### 3.4 칀ldersf칬rdelning

## 4. Kanada-specifik Analys

### 4.1 칐versikt - Kanadas Prestation

### 4.2 Kanadas Toppsporter

### 4.3 Kanadas Medaljer per OS

### 4.4 Kanadas 칀ldersf칬rdelning

## 5. Sammanfattning

Detta notebook har genomf칬rt en grundlig explorativ dataanalys av olympisk data med fokus p친: